
* {
  overflow-x: hidden;
}


:root {
--Neutral-900: hsl(227, 75%, 14%);
--Neutral-800: hsl(226, 25%, 17%);
--Neutral-700: hsl(225, 23%, 24%);
--Neutral-600: hsl(226, 11%, 37%);
--Neutral-300: hsl(0, 0%, 78%);
--Neutral-200: hsl(217, 61%, 90%);
--Neutral-100: hsl(0, 0%, 93%);
--Neutral-0: hsl(200, 60%, 99%);
--Red-400: hsl(3, 86%, 64%);
--Red-500: hsl(3, 71%, 56%);
--Red-700: hsl(3, 77%, 44%);
--Light-Gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
--Dark-Gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}


body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

.mode.dark
button {
  border: 1px solid hsl(217, 61%, 90%);
  color: var(--Neutral-200);
}


.mode
button {
  border: 1px solid hsl(217, 61%, 90%);
  color: var(--Neutral-800);
}


button:hover, button:active {
  background-color: var(--Neutral-300);
}

button > img {
  margin: 0 auto;
}

.mode {
  background: var(--Light-Gradient);
    min-width: 100vw;
  height: 100vh;
  /* padding: 0 1em; */
  
  padding: 1em;
}

.mode h1, .mode h2, .mode h3 {
  color: var(--Neutral-900);
}


.mode p {
  color: var(--Neutral-800);
}


.mode.dark {
  background: var(--Dark-Gradient);
}

.mode.dark h1, .mode.dark h2, .mode.dark h3 {
  color: var(--Neutral-0);
}


.mode.dark p {
  color: var(--Neutral-100);
}

ul  > .tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 35px;
  background-color: var(--Neutral-0);
  border: 1px solid rgb(228, 225, 225);
  border-radius: 25px;
}

.tab:nth-of-type(2), .tab:nth-of-type(3) {
  width: 75px;
}

.mode 
.tab:hover {
 border: 1px solid hsl(3, 86%, 64%);
}


.mode.mode.dark
.tab:hover {
 border: 1px solid  hsl(225, 23%, 24%);
 background: #525868;
 color: var(--Neutral-100);
}



.mode 
.tab.active {
  background-color: var(--Red-400);
  color: var(--Neutral-100);
}

.mode.dark .tab {
  background-color: #2f354b;
   border: 1px solid  hsl(225, 23%, 24%);
   color: var(--Neutral-0);  
}

.mode.dark .tab.tab.active {
  background-color: var(--Red-500);
  color: var(--Neutral-800);
   border: 1px solid  hsl(225, 23%, 24%);
}




.mode 
article {
  background: var(--Neutral-0);
}

.mode
article:hover {
 background: var(--Neutral-100);
}

.mode.dark
article {
  background: var(--Neutral-800);
}

.mode.dark
article:hover {
  background: var(--Neutral-700);
}


@media (min-width: 768px) {
   .mode {
  padding: .7em;
}

}


@media (min-width: 1366px) {
  article{
    width: 375px;
  }
}


@media (min-width: 1280px) {
   .mode {
  padding: 2em;
}

}


@media (min-width: 1440px) {
  article {
    width: 400px;
  }
}